<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>To-Do's</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>

<body>
   <div id="todo-app">
    <div class="row mb-0" style="height: 100vh;">
        <div class="col-4 p-2 pl-3 bg-dark text-white text-center">
            <h1 style="text-shadow:2px 5px #E87C7C">Projects</h1>

            <div class="d-flex flex-row justify-content-around m-4 pt-3">
                <input class="form-control" type="text" placeholder="Add Project" v-model:project="project"></input>
                <button type="button" class="btn btn-primary btn-sm ml-2 mr-2" v-on:click="addProject" :disabled="!project">
                    <i class="fas fa-plus"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" v-on:click="archive">Archive</button>
            </div>
            <p class="text-danger" :error="error" v-if="error"> *{{error}}</p>
                <projects-component :projects="projects"></project-component>
        </div>

        <div class="col-8 p-0 text-center">
            <div class=" bg-dark text-white p-2">
                <h1 style="text-shadow:2px 5px #E87C7C">To-Do's</h1>
            </div>

            <div class="d-flex flex-row justify-content-around m-4" v-if="selected">
                <br/>
                <input class="form-control" type="text" placeholder="Add Todo" v-model:todo="todo"></input>
                <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" v-on:click="addTodo" :disabled="!todo" >
                    <i class="fas fa-plus"></i>
                </button>
                <br/>
                <button type="button" v-on:click="clearCompleted" class="btn btn-danger btn-sm">Clear Completed</button>
                <br/>
            </div>
            <div class="pl-4 pr-4 text-center">
                <h4><todos-component :proj="currentProj" v-if="selected"></todos-component></h4>
            </div>
        </div>
    </div>
   </div>

   <script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
   <script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
   <script type="text/javascript" src="app.js"></script>
</body>

</html>
